python2.7, libzbar, 
python libraries: kivy==1.10.0,android,pycrypto,pil,zbar,git+https://gitlab.com/kivymd/KivyMD,urllib3,qrcode,openssl,pyopenssl,httplib2, kivy-garden,
Kivy Garden library: xcamera
